doctype html
html(lang="en")
  head
    block head
      include includes/head.pug
  body
    block header
      include includes/header.pug
    block content
    block footer
      include includes/footer.pug
