/* Icon Fonts */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&family=Merriweather:wght@400;700&family=Material+Icons+Round&display=swap');
/* Body Font */
/* @import url('./assets/webfont/style.css'); */

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  background-image: url(assets/images/hero.jpg);
  min-height: 640px;
}

.ad {
  background-image: url(assets/images/bitmap.png);
}

.nature {
  background-image: linear-gradient(
      to bottom,
      hsla(0, 0%, 0%, 0),
      hsla(0, 0%, 0%, 0.7)
    ),
    url(assets/images/nature.jpg);
}

.heritages {
  background-image: linear-gradient(
      to bottom,
      hsla(0, 0%, 0%, 0),
      hsla(0, 0%, 0%, 0.7)
    ),
    url(assets/images/iskcon.jpg);
}

.foods {
  background-image: linear-gradient(
      to bottom,
      hsla(0, 0%, 0%, 0),
      hsla(0, 0%, 0%, 0.7)
    ),
    url(assets/images/food.jpg);
}
