mixin navlink(title, href)
  a.py-1.text-sm.transition.duration-500.ease-in-out.text-gray-700.hover_text-green-700.hover_underline(href=href)= title

footer.py-6.px-4.lg_px-14
  hr
  //- Links
  .py-10.grid.grid-cols-1.gap-3.sm_grid-cols-2.md_grid-cols-3.lg_grid-cols-4.xl_grid-cols-5
    //- Logo
    img.h-10.w-auto.mb-6.sm_m-0(src="./assets/images/logo.png", alt="Logo")
    //- Quick Links
    div
      h1.font-serif.text-lg.mb-2 Quick Links
      .flex.flex-col.items-start
        +navlink("About", "#")
        +navlink("Gallery", "#")
        +navlink("Events", "#")
    //- Programs
    div
      h1.font-serif.text-lg.mb-2 Explore
      .flex.flex-col.items-start
        +navlink("Places to visit", "#")
        +navlink("Things to do", "#")
        +navlink("Events to enjoy", "#")
    //- Resources
    div
      h1.font-serif.text-lg.mb-2 Resources
      .flex.flex-col.items-start
        +navlink("FAQ", "#")
        +navlink("Submit Ticket", "#")
        +navlink("Contact Us", "#")
    //- Copyright
    div
      p.uppercase.mb-2 Find Me On
      ul.flex.items-center.mb-4
        li.text-sm.transition.duration-500.ease-in-out.text-gray-700.hover_text-green-700.hover_underline.mr-2: a(href="#") Github
        li.text-sm.transition.duration-500.ease-in-out.text-gray-700.hover_text-green-700.hover_underline.mr-2: a(href="#") Twitter
      p.text-gray-700 2021 &copy Asim Bera
      p.text-xs.text-gray-700 Content By : Suman Mondal
