header.bg-gray-50.px-4.py-2.lg_px-14.flex.items-center.justify-between.fixed.top-0.left-0.w-full.z-50.shadow
  img.h-10.w-auto(src="./assets/images/logo.png", alt="Logo")
  //- h1.font-serif.font-bold.text-xl Visit Bengal
  ul.hidden.md_flex.md_items-center
    li.transition-colors.duration-500.ease-in-out.hover_text-green-700.mr-4: a(href="#") Home
    li.transition-colors.duration-500.ease-in-out.hover_text-green-700.mr-4: a(href="#") Destinations
    li.transition-colors.duration-500.ease-in-out.hover_text-green-700.mr-4: a(href="#") Foods
    li.transition-colors.duration-500.ease-in-out.hover_text-green-700.mr-4: a(href="#") Hotels
    li.transition-colors.duration-500.ease-in-out.hover_text-green-700.mr-4: a(href="#") Events
    li.transition-colors.duration-500.ease-in-out.hover_text-green-700.mr-4: a(href="#") Contact Us
  button.p-2.bg-blue-400.text-white.flex.items-center.rounded.hover_ring-2.focus_ring-2.md_hidden: span.material-icons-round menu
