extends layout.pug

//- Mixins
mixin programs-card(image, name, description, href)
  .group.p-4.transition.duration-500.ease-in-out.border.border-gray-400.w-full.hover_border.hover_border-blue-600
    .inline-block.overflow-hidden.w-full
      img.h-36.w-full.object-cover.transition.duration-500.ease-in-out.group-hover_scale-110(src="./assets/bitmap.png", alt="")
    h1.font-bold.text-gray-700.text-xl.transition.duration-500.ease-in-out.group-hover_text-blue-700.my-4= name
    p.text-gray-500.mb-4= description
    a.text-blue-600.font-semibold.border-b-2.border-blue-600(href= href) Learn More

mixin resources-card(title, summary, href)
  .w-full.flex.flex-col.items-start.md_flex-row.md_items-center.md_justify-between.lg_flex-col.lg_items-start.lg_justify-start.group.p-4.rounded.transition.duration-500.ease-in-out.border.border-gray-200.hover_border-blue-100.hover_bg-blue-100
    .flex.flex-col.items-start
      h1.font-bold.text-gray-700.text-lg.mb-4= title
      p.text-gray-500.mb-4.md_mb-0.lg_mb-4= summary
    a.flex.items-center.p-2.rounded-full.border.text-blue-500.group-hover_text-white.group-hover_bg-blue-600.transition.duration-500.ease-in-out(href= href): span.material-icons-round chevron_right

mixin events-card()
  a.block.group.flex.flex-col.items-center(href="#")
    img.h-44.w-full.object-cover.mb-2(src="./assets/bitmap.png", alt="")
    p.text-center.text-gray-700.group-hover_text-blue-700.font-semibold Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, saepe?

block content
  //- Go To Top FAB
  a.flex.items-center.fixed.bottom-6.right-6.bg-blue-700.text-white.p-2.rounded-full.hover_animate-pulse(href="#", title="Go To Top"): span.material-icons-round north
  //- Hero Section
  section#hero.p-4.sm_px-10.flex.flex-col.justify-center.items-start
    p.uppercase.text-2xl.text-white.mb-5 Welcome to
    p.uppercase.mb-3.text-2xl.text-white.font-bold Central Calcutta Polytechnic
    p.mb-8.text-lg.text-white.md_max-w-sm.lg_max-w-md Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque reprehenderit dolores modi totam iure sed magnam ab animi ducimus autem? Eos totam consequuntur quibusdam deserunt dignissimos ipsa sint unde nobis.
    button.px-6.py-4.bg-blue-600.text-white.hover_ring Get Started Now
  //- From Principal Section
  //- Programs Section
  section.p-4.sm_px-10.py-8.flex.flex-col.items-center
    h1.uppercase.text-2xl.font-bold.text-gray-700.mb-3 Programs We Offer
    p.text-gray-500.text-center Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur perferendis culpa modi unde illo cum harum corporis provident ratione.
    div.w-full.grid.grid-cols-1.gap-3.mt-6.md_grid-cols-2.lg_grid-cols-3
      +programs-card("./assets/bitmap.png", "Name", "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus, rem?", "#")
      +programs-card("./assets/bitmap.png", "Name", "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus, rem?", "#")

  //- Essential Resources Section
  section.bg-blue-50.p-4.sm_px-10.py-8.grid.gap-6.grid-cols-1.lg_grid-cols-2
    div
      h1.uppercase.text-2xl.font-bold.text-gray-700.mb-3 Essential Resources
      p.text-gray-500 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique, eum repellat! Nihil esse animi exercitationem.
      div.w-full.grid.grid-cols-1.gap-3.mt-6.lg_grid-cols-3
        //- Card
        +resources-card("For first years", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, nesciunt!", "#")
        +resources-card("Tuition & Fees", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, nesciunt!", "#")
        +resources-card("Resource #3", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, nesciunt!", "#")

    img.h-36.lg_h-full.w-full.object-cover(src="./assets/bitmap.png", alt="")
  //- Events Section
  section.p-4.sm_px-10.py-8
    .flex.items-center.justify-between.mb-3
      h1.uppercase.text-2xl.font-bold.text-gray-700 Events @ CCP
      a.block.text-blue-700.border-b-2.border-blue-700(href="#") More Events
    .w-full.grid.grid-cols-1.gap-3.sm_grid-cols-2.lg_grid-cols-3
      +events-card
      +events-card
      +events-card

  .space-y-4
  //- Our Partners Section
