/* Custom Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;800&family=Material+Icons+Round&display=swap');

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Extra Styles */
#hero {
  height: 640px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('./ccpkolkata/assets/010.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
